# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# Dependency directories (Go modules)
vendor/

# Editor and IDE specific files
.idea/
*.swp
*.swo
*.DS_Store
.vscode/

# Logs
*.log

# Temporary files
*.tmp

# Go build artifacts
/build/
/bin/
/dist/
/httpserver
/main
/fleet_sim/bike_data0a96b1f5.csv
/fleet_sim/bike_data0d0e0502.csv
/fleet_sim/bike_data1f55c7c3.csv
/fleet_sim/bike_data3cf0fcf2.csv
/fleet_sim/bike_data3f69f46d.csv
/fleet_sim/bike_data4fb6e22e.csv
/fleet_sim/bike_data5d3d9701.csv
/fleet_sim/bike_data5f1678c9.csv
/fleet_sim/bike_data6fde12fb.csv
/fleet_sim/bike_data7ab28bf4.csv
/fleet_sim/bike_data8e7a195b.csv
/fleet_sim/bike_data08d57293.csv
/fleet_sim/bike_data31a99b0d.csv
/fleet_sim/bike_data35ad17ac.csv
/fleet_sim/bike_data61fec338.csv
/fleet_sim/bike_data69e253a7.csv
/fleet_sim/bike_data71b39763.csv
/fleet_sim/bike_data336f3992.csv
/fleet_sim/bike_data437f1141.csv
/fleet_sim/bike_data630acda2.csv
/fleet_sim/bike_data737b2d4c.csv
/fleet_sim/bike_data1795f19b.csv
/fleet_sim/bike_data2392a65d.csv
/fleet_sim/bike_data2684bf0b.csv
/fleet_sim/bike_data8021e147.csv
/fleet_sim/bike_data71212ca8.csv
/fleet_sim/bike_data516571d9.csv
/fleet_sim/bike_data01723674.csv
/fleet_sim/bike_data55283063.csv
/fleet_sim/bike_dataa2f66dc7.csv
/fleet_sim/bike_dataa6dc7263.csv
/fleet_sim/bike_datab95e2053.csv
/fleet_sim/bike_datab6469fb8.csv
/fleet_sim/bike_datac1ffdfe8.csv
/fleet_sim/bike_datac7bf1b23.csv
/fleet_sim/bike_datad2823244.csv
/fleet_sim/bike_datade471051.csv
/fleet_sim/bike_datae1faa5b9.csv
/fleet_sim/bike_datae17f045b.csv
/fleet_sim/bike_dataeb46bba8.csv
/fleet_sim/bike_dataebbb12fe.csv
/fleet_sim/bike_dataed70ed25.csv
/fleet_sim/bike_dataee882471.csv
/fleet_sim/bike_dataef060443.csv
/fleet_sim/bike_dataf8dcb37b.csv
/fleet_sim/bike_dataf28b1e0d.csv
/fleet_sim/bike_dataf429dcf3.csv
/fleet_sim/bike_dataf60119e4.csv
/fleet_sim/bike_datafcfc8428.csv
/fleet_sim/bike_datafd25e801.csv
/fleet_sim/ebike_fleet_simulated.csv
/fleet_sim/fleet_sim
